@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
body {
  background-color: black;
  font-family: 'Titillium Web', sans-serif; }

.collection {
  display: inline-flex; }

@media only screen and (min-width: 510px) {
  /*! css-flip: https://davidwalsh.name/css-flip */
  .flip-container {
    perspective: 1000px; }

  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg); }

  .flip-container, .front, .back {
    width: 170px;
    height: 170px; }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }

  /* hide back of pane during swap */
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    color: white;
    background-color: #333;
    padding: 1em;
    font-size: 1em; }
    .back .rating {
      float: right;
      font-size: 3em; }
    .back .info {
      margin-bottom: 1em; }
      .back .info .artist {
        font-size: 1.1em;
        color: #82bc00; }
      .back .info .title {
        font-size: 1.2em;
        line-height: 1.1;
        font-weight: normal;
        color: #DAA520; } }
