$primary-color: #FFAC17;
$white: #eee;

body {
	background-color: black;
	//background: url('../images/dark.jpg') no-repeat center center fixed;
	//background-size: cover;
	//width: 100%;
	//height: auto;
}

.collection {
	display: inline-flex;
}

.item {
	
}






// Bootstrap overwrite
.btn-primary {
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #000;
    background-color: $white;
    border-color: $white;
}
